a {
	text-decoration: none;
}
li {
	list-style: none;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
	height: 60px;
	background-color: #000066;
}

.menu-logo{
	
	display: none;
}
.header-list li {
	float: left;
	
}
.header-list li a {
	color: white;
	padding: 0 20px;
	line-height: 60px;
	display: block;
}



.header-list li a:hover {
  background-color: rgba(255, 195, 0, 0.7);
}
.header-list li a:active {
  background-color: rgba(255, 87, 51, 0.7);
}
.top-wrapper {
	padding: 120px 0px 100px 0px;
	background-size: cover;
	background-image: url('profile_building.jpeg');
	color: white;
	text-align: center;
}

span {
	color: rgb(255,195,0);
}


.clear	{
	clear: left;
}
.footer {
 
  left: 0;
  bottom: 0;
  width: 100%;

  border-top: 2px solid grey; 
  text-align: center;
}


